<!-- KaTeX -->

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      macros: {
        mapright : ["\\stackrel{#1}{\\longrightarrow}",1],
        GJ : "\\text{GJ}",
        rg : "\\operatorname{rango}",
        sb : "_",
        K : "k",
        Q : "\\mathbb{Q}",
        R : "\\mathbb{R}",
        C : "\\mathbb{C}",
        MatK : ["\\mathcal{M}_{#1\\times#2}(#3)",3],
        traza : "\\operatorname{traza}",
        rref : "\\text{rref}",
        Adj : "\\operatorname{Adj}",
        sg : "\\operatorname{signo}",
        id : "\\operatorname{id}",
        col : "\\operatorname{col}",
        nulo : "\\operatorname{nul}",
        Hom : "\\operatorname{Hom}",
        Aut : "\\operatorname{Aut}",
        im : "\\operatorname{im}"
      }
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>