<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/es/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/es/80x15.png" /></a><br>
<a href="https://gitlab.com/FMuro/alg1/edit/main/content/{{ .File.Path }}" target="_blank"><span><i
            class="fa fa-edit"></i> Edita esta página</span></a><br>
<a href="/alg1/howto"><span><i class="fa fa-question-circle"></i> Cómo editar</span></a><br>
<a href="https://gitlab.com/FMuro/alg1" target="_blank"><span><i class="fa fa-gitlab"></i> Código fuente</span></a><br>